body {
    font-family: Arial;
    background: linear-gradient(135deg, beige);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

body {
    background-image: url("https://www.shutterstock.com/image-photo/handwritten-do-list-on-notebook-600nw-2461186223.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

button {
    background: #ff4e50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
}
